.flex{
	display: flex;
	justify-content: space-around;
	align-items: center
}

.iconFlex{
	display: flex;
	justify-content: center;
	align-items: center;
}

.container{
	height: 125px;
	background-color: yellow;
}

.icon{
  height: 100px;
  width: 100px;
	border-radius: 50%;
	border: 8px double #00ff60;
}